body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}
.menu-text {
  color: antiquewhite;
}

#content {
  padding-top: 80px;
}

.bingkai {
  border: #495057 solid 2px;
}

.tombol {
  padding: 15px;
  color: white;
  border: 2px solid #495057;
  background-color: #6c757d;
  border-radius: 20px;
  text-decoration: none;
}
